.container {
    display: flex;   
}

.section-one {
    width: 400px;
}

img { 
    width: 100%;  /* Makes the image stretch to the container width */
    height: 100%; /* Stretches to the container height */
    object-fit: cover;
}